node_modules/

package-lock.json
package.json.orig

.npm
.yarn
.yarn-integrity

build/
dist/
out/
temp/
tmp/

.vscode/
.idea/
*.suo
*.user
*.pdb
*.obj

.DS_Store
Thumbs.db
ehthumbs.db
Desktop.ini
$RECYCLE.BIN/
CVS/
.svn/
.git/

*.log
*.tmp
*.temp